<script type="text/javascript">
  function handleGuestLogin() {
    document.login.loginusername.value = "CaptPicard";
    document.login.loginpassword.value = "password";

    document.getElementById("login-button").click();
  }
</script>

<body>
<div class="cover-page"></div>
        <div class="my-info" >
            <div class="side-bar"></div>
              <div class="my-title">Sign In</div>
              <form id="loginform" action="<%= session_url %>" method="post" name="login">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input id="loginusername" type="text" name="user[username]" placeholder="Username">
                <br />
                <input id="loginpassword" type="password" name="user[password]" placeholder="Password">
                <br />
                <input id="photo-url" name="user[image_url]" type="hidden" value="http://i.imgur.com/XGpUbRt.png">
                <input id="login-button" type="submit" value="Log In">
              </form>
              <ul class="splash-links">
                <li>
                  <a href="<%= new_user_url %>" >
                    <button id="signup-link" class="splash-button">Sign Up</button>
                  </a>
                </li>
                <li>
                  <button id="guest-login" class="splash-button" onclick="handleGuestLogin()">Guest Login</button>
                </li>

              </ul>
                <%= render "layouts/errors" %>
              </div>
              <img class="pic-frame" src="http://res.cloudinary.com/dmowg49ys/image/upload/v1445819399/photo_frame_sdd3js.jpg">
                <img class="profile-placeholder" src="http://res.cloudinary.com/dmowg49ys/image/upload/c_scale,h_240,w_320/v1445824757/ship_diagram_estlau.jpg" />
              </img>
          </div>
</body>
