<script type="text/javascript">
  function handleUserPicUpload() {
    cloudinary.openUploadWidget({upload_preset: "zvecaalc"}, function(error, photo) {
      document.getElementById("profile_pic").src = photo[0].url;
      document.getElementById("photo-url").value = photo[0].url;
    });
  }
</script>

<div class="cover-page"></div>
        <div class="my-info" >
            <div class="side-bar"></div>
              <div class="my-title">Sign Up</div>
              <form id="signupform" action="<%= users_url %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input id="signup-username" type="text" name="user[username]" placeholder="Username">
                <br />
                <input id="signup-password" type="password" name="user[password]" placeholder="Password">
                <br />
                <input id="photo-url" name="user[image_url]" type="hidden" value="http://i.imgur.com/XGpUbRt.png">
                <input id="signup-button" type="submit" value="Sign Up">
              </form>
              <ul class="splash-links">
                <li>
                  <a href="<%= new_session_url %>" >
                    <button id="login-link" class="splash-button">Log In</button>
                  </a>
                </li>
                <li>
                  <button id="user-photo-upload" class="splash-button" onclick="handleUserPicUpload()">Upload Photo</button>
                </li>

              </ul>
                <%= render "layouts/errors" %>
              </div>
              <img class="pic-frame" src="http://res.cloudinary.com/dmowg49ys/image/upload/v1445819399/photo_frame_sdd3js.jpg">
                <img id="profile_pic" class="profile-placeholder" src="http://res.cloudinary.com/dmowg49ys/image/upload/v1445824946/placeholder-profile_dfhd44.png" />
              </img>

          </div>
