@import "bootstrap-sprockets";
@import "bootstrap";

html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  height: 100%;
  width: 100%;
}

ul, li {
  display: inline;
  padding: 10px;
}

.jumbotron {
  position: relative;
  background: #000 image-url("background_space.jpg") center center;

  background-size: 100% 100%;
  // height: 100%;
  // width: 100%;
  overflow: hidden;
}

.my-info {
  // opacity: 0.4;
  font-family: 'Noto Sans', sans-serif;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  color: #ccc;
  background-color: transparentize(#999, 0.6);
  margin-top: 100px;
  padding-top: 20px;
}

.info-text {
  padding: 10px;
  color: #ccc;
}

.input-group .form-control:last-child {
  background-color: transparentize(darkblue, 0.8);
}

#login-username, #login-password {
  color: #ccc;
}
body {
    background: url("background_space.jpg") center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}
.panel-heading {
  font-family: 'Noto Sans', sans-serif;
  color: transparentize(#ccc, 0.2);
}


button, html input[type="button"], input[type="reset"], input[type="submit"] {
    background: transparent;
    width: 125px;
    height: 30px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px;
}


.type-select {
  position: absolute;
  float: right;
}

// .rocket-index {
//   position: relative;
// }

// Example gallery css
.rocket-item {

    margin: 5px;
    padding: 5px;

    height: 450px;
    width: 450px;
    float: left;
    text-align: center;
}

.rocket-photo {
    display: inline;
    margin: 5px;
    height: 300px;
    width: 400px;
    float: top;
    border-radius: 5px;
}
//
// div.img a:hover img {
//     border:1px solid #0000ff;
// }

.rocket-info {
    text-align: center;
    font-weight: normal;
    width: auto;
    margin: 5px;
}
// end
.rocket-profile-pic {
  height: 700px;
  width: 100%;
  padding-top: 0px;
  margin-top: 0px;

}

.rocket-index-pic {
  height: 100px;
  width: 150px;
}

.filter-form {
  position: relative;
  width: 100%;
  // height: 175px;
  margin: 0px;
  padding: 0px;
  background-color: #eee;
  font-family: "Noto Sans", sans-serif;
  color: #555;
  // font-size: 24px;
}

.filter-label {
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  text-align: center;
  position: relative;
  display: block;
}

.date-row {
  margin-top: 10px;
  padding-top: 10px;
  // border-bottom: #999 solid 1px;
  // border: #999 solid 1px;
  color: #555;
  position: relative;
}

.date-label {
  padding-top: 2px;
}

.date-input {
  border-radius: 5px;
  border-color: none;
  length: 100%;
  position: absolute;
  float: left;
}
.filter-types {

  position: relative;

  // border-bottom: #999 solid 1px;
  // margin-top: 50px;
  padding-top: 20px;
}

.type-select {
  position: absolute;
  display: block;
  padding-top: 2px;
}

.type-label {
  position: absolute;
  display: block;
  padding-left: 15px;
}
.navbar {
  margin: 0px;
  padding:0px;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
