@import "bootstrap-sprockets";
@import "bootstrap";

html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: none;
  background-color: #000;
  height: 100%;
  width: 100%;
  font-family: "Inconsolata";
}

ul, li {
  display: inline;
  padding: 10px;
}

.jumbotron {
  position: relative;
  background: #000 image-url("background_space.jpg") center center;

  background-size: 100% 100%;
  // height: 100%;
  // width: 100%;
  overflow: hidden;
}

.my-info {
  // opacity: 0.4;
  font-family: 'Noto Sans', sans-serif;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  color: #ccc;
  background-color: transparentize(#999, 0.6);
  margin-top: 100px;
  padding-top: 20px;
}

.info-text {
  padding: 10px;
  color: #ccc;
}

.input-group .form-control:last-child {
  background-color: transparentize(darkblue, 0.8);
}

#login-username, #login-password, #signup-username, #signup-password {
  color: #ccc;
}

.cover-page {
    background: image-url("background_space.jpg") center center;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.panel-heading {
  font-family: 'Noto Sans', sans-serif;
  color: transparentize(#ccc, 0.2);
}


button, html input[type="button"], input[type="reset"], input[type="submit"] {
    background: transparent;
    width: 125px;
    height: 30px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px;
}

button:hover {
  background-color: darkgrey;
  color: white;
  border: white 1px solid;
}


.type-select {
  position: absolute;
  float: right;
}

#rocket-index {
  position: relative;
  margin-left: 150px;
  margin-top: 150px;
  background: #000 image-url("back-5.jpg") center center;
}



// Example gallery css
.rocket-item {

    margin: 10px;
    padding: 10px;
    height: 300px;
    width: 400px;
    float: left;
    text-align: center;
    background: transparent;
}
.index-item-container {
  position: relative;

}
.rocket-photo {
    position: absolute;
    display: block;
    margin: 5px;
    height: 300px;
    width: 400px;
    float: top;
    border-radius: 5px;
    float: left;
}

.index-item-container:hover {
  .rocket-info {
    display: inline;
    transition: 0.3s;
    display: block;
  }

  .rocket-photo {
    transition: 0.5s;
    height: 310px;
    width: 415px;
    opacity: 0.4;
  }
}

// div.img a:hover img {
//     border:1px solid #0000ff;
// }

.rocket-info {
    position: absolute;
    display: none;
    padding: 50px;
    padding-top: 100px;
    text-align:center;
    font-weight: normal;
    color: #ddd;
    text-align: center;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // text-align: center;

    margin-top: 24px;
    width: 375px;
    margin-left: 25px;
    font-weight: 500;
    font-size: 24px;
    font-family: "Inconsolata";
    z-index: 1;
    background-color: transparent;

}

.rocket-profile-pic {
  position: absolute;
  z-index: -1;
  opacity: 0.7;
  width: 100%;
}
.rocket-profile-container {
  height: 500px;
  width: 100%;
  padding-top: 0px;
  margin-top: 0px;
  overflow: hidden;
  position: relative;
}

.rocket-title {
  position: absolute;
  color: white;
  font-size: 96px;
  text-align: center;
  padding: 200px;
}

.profile-item {
  position: relative;
  display: block;
}

// .profile-text {
.background-image {
  position: absolute;
  left: 11px;
  width: 990px;
  background: #000;
}
.rocket-title-prefix {
  position: absolute;
  color: white;
  font-size: 54px;
  text-align: center;
  padding: 140px;
}

.request-button {
  position: absolute;
  width: 250px;
  height: 60px;
  color: white;
  background-color: transparentize(grey, 0.4);
  margin-top: 350px;
  margin-left: 42%;
  font-size: 24px;
  align: center;
}

.request-button:hover {
  background-color: red;
}
.rocket-index-pic {
  position: absolute;
  display: inline;
}
.rocket-index-pic {
  position: relative;
  display: block;
  border-radius: 5px;
  height: 100px;
  width: 150px;
}

.filter-form {
  position: absolute;
  width: 100%;
  height: 175px;
  margin: 0px;
  padding: 0px;
  padding-left: 75px;
  background-color: #000;
  font-family: "Inconsolata";
  font-size: 15px;
  color: #555;
  // font-size: 24px;
  color: #ccc;
  font-size: 15px;
  background: #000 image-url("back-5.jpg") left center no-repeat;
}

// #cxs
.filter-label {
  // font-family: "Noto Sans", sans-serif;
  // font-size: 24px;
  text-align: center;
  position: relative;
  display: block;
}

.type-text {
  font-size: 15px;
}
.date-row {
  margin-top: 10px;
  padding-top: 10px;
  // border-bottom: #999 solid 1px;
  // border: #999 solid 1px;
  color: #ccc;
  position: relative;
}

.start-date-label {
  padding-top: 4px;
  padding-left: 38px;
  overflow: hidden;
  font-size: 24px;
}

.end-date-label {
  padding-top: 4px;
  padding-left: 64px;
  overflow: hidden;
  font-size: 24px;
}

.date-input {
  border-radius: 5px;
  border-color: none;
  margin: none;
  length: 100%;
  position: absolute;
  float: left;
}
.filter-types {

  position: relative;

  // border-bottom: #999 solid 1px;
  // margin-top: 50px;
  padding-top: 22px;
  padding-left: 41px;
  font-size: 18px;
}

.type-select {
  position: absolute;
  display: block;
  padding-top: 2px;
}

.type-label {
  position: absolute;
  display: block;
  padding-left: 15px;
}
.navbar {
  position: relative;
  height: 200px;
  border: none;
  background: #000 image-url("navbar-image.jpg") left center no-repeat;
  margin: 0px;
  padding:0px;
}

#profile-link {
  background-color: #9999ff;
}

#rockets-link {
  background-color: #fe9b00;
}

#logout-link {
  background-color: #cc6666;
}

#add-rocket-link {
  background-color: #cc99cc;
}
.navbar li {
  margin: 0px;
  padding: 0px;
}

.navbar a {
  padding-bottom: 5px;
  padding-top: 20px;
  margin-bottom: 0px;

}
.navbar-nav > li > a {
  margin-top: 25px;
}
.navbar-links {
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 20px;
  width: 120px;
  height: 50px;
  color: black;
}

.navbar-links:hover {
  border: none;
}

.create-form {
  position: absolute;
}
.create-label {
  font-size: 24px;
  font-family: "Inconsolata";
  color: #ddd;
}

.create-form-header {
  position: relative;
  text-align: center;
  font-size: 36px;
  color: #ddd;
  padding-bottom: 20px;
}

.create-row {
  padding-top: 10px;
  padding-left: 100px;
  position: relative;
  width: 100%;
}

.photo-upload-button {
  background-color: #cc99cc;
  height: 50px;
  width: 120px;
  color: #444;
  border: none;
  border-radius: 20px;
}

.photo-upload-button:hover {
  background-color: white;
  border: #cc99cc solid 1px;
  color: #cc99cc;

}

.create-button {
  background-color: #9999ff;
  border: none;
  border-radius: 40px;
  margin-left: 33%;
  font-size: 18px;
  width: 200px;
  height: 60px;
  color: #444;
}

.create-button:hover {
  background-color: white;
  color: #9999ff;
  border: #9999ff solid 1px;
}

.create-label-container {
  padding-left: 210px;
  width: 53%;
  position: relative;
  display: inline-block;
}

.create-input-container {
  width: 42%;
  padding-left: 50px;
  display: inline;
  float: top;
}

#create-warning {
  font-size: 16px;
  width: 57%;
  margin-left: 14%;
  text-align: center;
  color: #ddd;
}

.create-form-pic {
  width: 200px;
  border-radius: 10px;
  border: #555 dotted;
  margin-left: 20px;
}

.create-input {
  border-radius: 5px;
  color: #bbb;
  padding: 4px;
}

.res-index-container {
  color: #ddd;
  position: absolute;
  font-size: 24px;
  width: 40%;
  margin-left: 10%;
}

.rocket-index-container{
  position: absolute;
  color: #ddd;
  width: 40%;
  margin-left: 50%;
}
.res-button {
  color: #444;
  background-color: #9999ff;
  position: absolute;
  margin-left: 25px;
  margin-top: 44px;
  length: 100px;
  height: 40px;
  border: none;
  font-size: 16px;
  border-radius: 15px;
  :hover {
    background-color: #444;
    color: #9999ff;
    border: #9999ff solid 1px;
  }
}

.out-res-index {
  position: relative;
}

.out-res-item {
  position: relative;
  width: 300px;
  height: 175px;
  margin-top: 30px;
  margin-left: 100px;
}

.res-header {
  font-size: 36px;
  text-align: center;
}

.out-res-index ul {
  display: block;
}
//
// .out-res-index ul li {
//   display: block;
// }
.greeting {
  color: #ddd;
  font-size: 37px;
  position: relative;
  padding-bottom: 20px;
  text-align: center;

}

.rocket-index-container {
  color: #ddd;
  font-size: 24px;
}

.thumbnail-rocket {
  width: 190px;
  height: 110px;
  border-radius: 10px;
  position: absolute;
  margin-left: 167px;
  margin-top: -26px;
}

.pending-res {
  color: #fe9b00;
  margin-left: 25px;
}

.res-rocket {
  position: relative;
  font-size: 24px;
  margin-left: 25px;
}

.res-desc {
  font-size: 16px;
  margin-top: 28px;
  position: absolute;
  margin-left: 25px;
  width: 128px;
}

.inc-res-text {
  color: magenta;
  position: absolute;
  z-index: 1;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
